.plan .plan_icon-wrapper{
	color: var(--ui-brand-color);
}

);



.plan--main {
  padding: 50px 20px;
  flex-basis: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--ui-brand-color);
  color: var(--ui-light-shade-color);

  @media (--ui-tablet-devices) {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }

  @media (--ui-medium-devices) {
    padding: 50px;
  }

  &__title {
    margin-bottom: 25px;
    font-family: var(--ui-heading-font-family);
    font-size: var(--ui-heading-size);
    font-weight: var(--ui-heading-font-weight);
    line-height: var(--ui-heading-line-height);
    color: var(--ui-light-shade-color);
  }

  &__icon-wrapper {
	width: calc(100%);
	height: 60px;
	margin: auto;
	color: #fff;
    
  }

}